@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-foreground: #ffffff;
  --color-background: #111111;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-foreground: #111111;
    --color-background: #ffffff;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
}

h1 {
  font-size: 4em;
  line-height: 1.2;
  font-weight: 400;
}

h2 {
  font-size: 3em;
  line-height: 1.2;
  font-weight: 400;
}

h3 {
  font-size: 2.5em;
  line-height: 1.2;
  font-weight: 400;
}

h4 {
  font-size: 2em;
  line-height: 1.2;
  font-weight: 400;
}

h5 {
  font-size: 1.8em;
  line-height: 1.2;
  font-weight: 400;
}

h6 {
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 400;
}

p {
  font-size: 1em;
  line-height: 1.2;
  font-weight: 400;
}
